@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  overflow: hidden;
}

.bolder {
  font-weight: bolder;
}

.about {
  margin: 50px 80px 0 80px;
  background-color: #fff;
  height: 618px;
  max-width: 1172px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.about .about--title {
  padding-top: 35px;
  color: #727e88;
  margin: 20px 35px 35px 35px;
  font-size: 24px;
}
.about .about--content {
  padding: 11px 6px;
  background-color: #f5f8f8;
}
.about .about--content-icon {
  color: #939699;
}
.about .about--personal-details ul li {
  display: flex;
  margin-left: 35px;
}
.about .about--content-name,
.about .about--content-website,
.about .about--content-phone,
.about .about--content-location {
  padding-left: 5px;
}
.about .about--pencil {
  padding: 11px 14px;
  background-color: #ecf1f5;
  cursor: pointer;
  color: #727e88;
}
.about .about--pencil:hover {
  background-color: #007ee5;
}
.about .about--pencil-mobile {
  display: none;
}

.about--form {
  display: none;
  box-sizing: border-box;
  width: 298px;
  height: 142px;
  z-index: 1;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(80, 80, 80, 0.75);
  -moz-box-shadow: 1px 1px 3px 0px rgba(80, 80, 80, 0.75);
  box-shadow: 1px 1px 8px 0px rgba(80, 80, 80, 0.75);
  position: absolute;
  background-color: #fff;
}
.about--form input {
  width: 252px;
}
.about--form button {
  margin-top: 20px;
  width: 95px;
  height: 29px;
  border: 0;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
}
.about--form .about--button-save {
  background-color: #007ee5;
  color: #fff;
  margin-right: 12px;
}
.about--form .about--button-cancel {
  color: #007ee5;
  background-color: #fff;
  border: 1px solid #007ee5;
}
.about--form:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  left: 0;
  top: 50%;
  border: 10px solid transparent;
  border-left: 0;
  border-right: 15px solid #fff;
  -moz-transform: translate(calc(-100%), -104%);
  -webkit-transform: translate(calc(-100%), -104%);
  transform: translate(calc(-100%), -118%);
}

.about--container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input {
  background-color: #fff;
}

@media all and (max-width: 860px) {
  .about {
    margin: 12px 0 0 0;
    border-top: 1px solid #d0dce7;
    border-bottom: 1px solid #d0dce7;
  }
  .about .about--title {
    padding-top: 0;
    color: #727e88;
    margin: 20px 35px 0px 25px;
    font-size: 20px;
    color: #727e88;
  }
  .about .about--personal-details ul {
    padding-top: 5px;
  }
  .about .about--personal-details ul li {
    margin-left: 20px;
  }
  .about .about--personal-details ul li .about--content {
    background-color: #fff;
    padding-left: 0;
    color: #3f454a;
    font-size: 14px;
  }
  .about .about--personal-details ul li .about--pencil {
    display: none;
  }
  .about .about--content-name {
    color: #53585c;
    font-size: 16px;
  }
  .about .about--content-icon {
    color: #a8b8c4;
    padding-right: 6px;
    font-size: 16px;
  }
  .about .about--pencil-mobile {
    display: inline;
    margin: 20px 20px 0 0;
    cursor: pointer;
    background-color: #ecf1f5;
    padding: 5px;
    color: #727e88;
  }

  .about--form {
    box-shadow: none;
  }
  .about--form .about--button-save {
    position: absolute;
    bottom: 420;
    right: 0;
    color: #007ee5;
    background-color: #fff;
    font-size: 14px;
    font-weight: 100;
  }
  .about--form .about--button-cancel {
    position: absolute;
    bottom: 420;
    right: 125;
    color: #007ee5;
    border-color: #fff;
    font-size: 14px;
    font-weight: 100;
  }

  .about--title-container {
    display: flex;
    justify-content: space-between;
  }

  .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea) {
    width: 100%;
  }

  .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input {
    width: 100%;
  }

  .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea) {
    background-color: #fff;
  }
}

/*# sourceMappingURL=about.css.map */
