@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  overflow: hidden;
}

.bolder {
  font-weight: bolder;
}

body {
  background-color: #f5f8f9;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 71px 80px 0 80px;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  max-width: 1172px;
  height: 316px;
  position: relative;
}
.header .header--line1 {
  display: flex;
}
.header .header--logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28.85px;
  width: 94.84px;
  color: #007ee5;
  border: 1px solid #007ee5;
  border-radius: 3px;
  font-weight: 700;
  font-size: small;
  cursor: pointer;
  position: absolute;
  right: 22px;
  top: 23px;
}
.header .header--upload {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 218.94px;
  height: 43.03px;
  color: #7b8790;
  border: 1px solid #d0dce7;
  border-radius: 3px;
  position: absolute;
  top: 75.84px;
  left: 474.39px;
}
.header .header--upload .header--upload-title {
  margin-left: -25px;
}
.header .header--stars {
  position: absolute;
  right: 230px;
  top: 146px;
}
.header .header--stars .header--stars-reviews {
  color: #7b8790;
}
.header .header--stars .header--stars-icon {
  color: #7b8790;
}
.header .header--profile {
  display: flex;
  position: absolute;
  top: 110px;
}
.header .header--profile-image {
  width: 202px;
  margin-left: 22px;
  z-index: 1;
}
.header .header--profile-image img {
  height: 171px;
  width: 171px;
  -webkit-box-shadow: 1px 1px 20px 0px rgba(190, 190, 190, 0.75);
  -moz-box-shadow: 1px 1px 20px 0px rgba(190, 190, 190, 0.75);
  box-shadow: 1px 1px 20px 0px rgba(190, 190, 190, 0.75);
}
.header .header--profile-icon {
  color: #939699;
  font-size: 20px;
}
.header .header--profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #3f454a;
}
.header .header--profile-info .name {
  font-weight: 700;
  font-size: 19px;
}
.header .header--profile-info .location {
  font-size: 14px;
  padding-left: 10px;
}
.header .header--profile-info .phone {
  font-size: 14px;
  padding-left: 10px;
}
.header .header--menu {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  max-width: 1172px;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(80, 80, 80, 0.75);
  -moz-box-shadow: 1px 1px 3px 0px rgba(80, 80, 80, 0.75);
  box-shadow: 1px 1px 3px 0px rgba(80, 80, 80, 0.75);
}
.header .header--menu ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100%;
  position: absolute;
  bottom: 0;
  color: #3f454a;
}
.header .header--menu li {
  padding-right: 27px;
}
.header .header--menu li:first-child {
  padding-left: 220px;
}
.header .header--menu li:last-child {
  padding-right: 0;
}
.header .header--menu li a {
  text-decoration: none;
  color: #727e88;
}
.header .header--menu li .header--menu-link {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 55px;
}
.header .header--menu li .header--menu-link:hover {
  border-bottom: 3px solid #007ee5;
}
.header .header--menu li .header--menu-link.active {
  border-bottom: 3px solid #007ee5;
}
.header .header--followers {
  display: flex;
  align-items: center;
  position: absolute;
  right: 21px;
  top: 274px;
  color: #000;
}
.header .header--followers .header--followers-add {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #ccc;
  font-size: 18px;
  border-radius: 100%;
  color: #fff;
}
.header .header--followers .header--followers-count {
  margin-left: 8px;
}
.header .header--followers .header--followers-followers {
  margin-left: 8px;
  color: #a6b0b7;
  font-size: smaller;
}

.container {
  display: flex;
  padding-top: 12px;
}

.section--container {
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  justify-content: center;
}

@media (min-width: 846px) and (max-width: 980px) {
  .header .header--stars {
    position: absolute;
    right: 50px;
  }
  .header .header--upload {
    position: absolute;
    right: 50px;
  }
  .header .header--followers {
    top: 220px;
  }
}
@media all and (max-width: 860px) {
  body {
    font-size: 14px;
  }

  .header {
    height: 479px;
    background-color: #f5f8f9;
    margin: 0;
  }
  .header .header--logout {
    border-width: 0;
  }
  .header .header--upload {
    display: none;
  }
  .header .header--profile {
    justify-content: center;
    width: 100%;
    flex-direction: column;
    top: 74px;
    color: #f5f8f9;
  }
  .header .header--profile-image {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .header .header--profile-image img {
    width: 126px;
    height: 126px;
  }
  .header .header--profile-info .phone, .header .header--profile-info .location {
    font-size: 12px;
  }
  .header .header--profile-info .name {
    text-align: center;
    padding-top: 22px;
    font-weight: 600;
  }
  .header .header--profile-info .container {
    margin-left: 18px;
  }
  .header .header--stars {
    top: 323px;
    left: 19px;
    width: 117px;
    font-size: 19px;
  }
  .header .header--stars .header--stars-icon {
    color: #007ee5;
  }
  .header .header--stars .header--stars-reviews {
    font-size: 12px;
    line-height: 2;
  }
  .header .header--stars .header--stars-reviews-count {
    color: #000;
    padding-right: 7px;
    font-size: 13px;
  }
  .header .header--menu {
    height: 51px;
    background-color: #fff;
  }
  .header .header--menu li:first-child {
    padding-left: 19px;
  }
  .header .header--menu .header--menu-link a {
    color: #3f454a;
  }
  .header .header--followers {
    left: 14px;
    top: 386px;
  }
  .header .header--followers .header--followers-followers {
    color: #717579;
    font-size: 12px;
    margin-left: 7px;
  }
}

/*# sourceMappingURL=index.css.map */
