@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  overflow: hidden;
}

.bolder {
  font-weight: bolder;
}

.settings {
  margin: 50px 80px 0 80px;
  background-color: #fff;
  height: 618px;
  max-width: 1172px;
  width: 100%;
  position: relative;
}
.settings .settings--title {
  padding-top: 35px;
  color: #727e88;
  margin: 20px 35px 35px 35px;
  font-size: 24px;
}

.settings--container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media all and (max-width: 860px) {
  .settings {
    margin: 12px 0 0 0;
    border-top: 1px solid #d0dce7;
    border-bottom: 1px solid #d0dce7;
  }
  .settings .settings--title {
    padding-top: 10px;
    color: #727e88;
    margin: 20px 35px 35px 25px;
    font-size: 22px;
  }
}

/*# sourceMappingURL=settings.css.map */
