body {
  background-color: #f5f8f9;
  width: 100%;
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
}

/*Header*/
.header {
  margin-top: 71px;
  background-color: #fff;
  width: 1172px;
  height: 316px;
  position: relative;
}

.btn-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28.85px;
  width: 94.84px;
  color: #007ee5;
  border: 1px solid #007ee5;
  border-radius: 3px;
  font-weight: 700;
  font-size: small;
  cursor: pointer;
  position: absolute;
  right: 22px;
  top: 23px;
}

.btn-upload {
  display: flex;
  justify-content: space-around;
  width: 218.94px;
  height: 43.03px;
  padding-left: 19px;
  color: #7b8790;
  border: 1px solid #d0dce7;
  border-radius: 3px;
  position: absolute;
  top: 75.84px;
  left: 474.39px;
}

.profile {
  display: flex;
}

.profile-image img {
  width: 171px;
  height: 171px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  color: #3f454a;
  padding: 20px;
}

.profile-info .name {
  font-weight: 700;
  font-size: 19px;
}

.profile-info .location {
  font-size: 14px;
  font-weight: 550;
}

/*Content*/
.content {
  background-color: #fff;
}

/*# sourceMappingURL=styles.css.map */
