@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$font: 'Open Sans', sans-serif;
$main-bg-color: #f5f8f9;
$section-bg-color: #fff;
$button-color: #007ee5;
$profile-light-color: #7b8790;
$border-color: #d0dce7;
$main-text-color: #3f454a;
$icon-color: #939699;
$header-width: 1172px;
$content-color: #727e88;
$about-content-bg-color: #f5f8f8;
$pencil-bg-color: #ecf1f5;
$mobile-size: 860px;
$mobile-font-color: #f5f8f9;

* {
    margin: 0;
    padding: 0;
    font-family: $font;
}

html {
    overflow: hidden;
}

.bolder {
    font-weight: bolder;
}