@import './common';


.about{
    margin: 50px 80px 0 80px;
    background-color: #fff;
    height: 618px;
    max-width: $header-width;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    
    .about--title {
        padding-top: 35px;
        color: $content-color;
        margin: 20px 35px 35px 35px;
        font-size: 24px;
    }

    .about--content {
        padding: 11px 6px;
        background-color: #f5f8f8;
    }

    .about--content-icon {
        color: $icon-color;
    }

    .about--personal-details ul li {
        display: flex;
        margin-left: 35px;
    }

    .about--content-name, 
    .about--content-website, 
    .about--content-phone, 
    .about--content-location {
        padding-left: 5px;
    }

    .about--pencil {
        padding: 11px 14px;
        background-color: $pencil-bg-color;
        cursor: pointer;
        color: #727e88;

        &:hover {
            background-color: $button-color;
        }
    }

    .about--pencil-mobile {
        display: none;
    }

   
}

.about--form {
    display: none;
    box-sizing: border-box;
    width: 298px;
    height: 142px;
    z-index: 1;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(80,80,80,0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(80,80,80,0.75);
    box-shadow: 1px 1px 8px 0px rgba(80,80,80,0.75);
    position: absolute;
    background-color: #fff;

    input {
        width: 252px;
    }

    button {
        margin-top: 20px;
        width: 95px;
        height: 29px;
        border: 0;
        border-radius: 3px;
        font-weight: 700;
        cursor: pointer;
    }

    .about--button-save {
        background-color: $button-color;
        color: #fff;
        margin-right: 12px;
    }

    .about--button-cancel {
        color: $button-color;
        background-color: #fff;
        border: 1px solid $button-color;
    }

    &:after {
        content: '';
        position: absolute;
        display: block;    
        width: 0px;        
        left: 0;
        top: 50%;
        border: 10px solid transparent;
        border-left: 0;
        border-right: 15px solid #fff;
        -moz-transform: translate(calc(-100%), -104%);
        -webkit-transform: translate(calc(-100%), -104%);
        transform: translate(calc(-100%), -118%);
    }
}

.about--container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input {
    background-color: #fff;
}


@media all and (max-width: $mobile-size) {
    .about {
        margin: 12px 0 0 0;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        .about--title {
            padding-top: 0;
            color: #727e88;
            margin: 20px 35px 0px 25px;
            font-size: 20px;
            color: $content-color;
        }

        .about--personal-details  {
            ul {
                padding-top: 5px;

                li {
                    margin-left: 20px;

                    .about--content {
                        background-color: #fff;
                        padding-left: 0;
                        color: $main-text-color;
                        font-size: 14px;
                    }

                    .about--pencil {
                        display: none;
                    }
                }
            }
        }

        .about--content-name {
            color: #53585c;
            font-size: 16px;
        }

        .about--content-icon {
            color: #a8b8c4;
            padding-right: 6px;
            font-size: 16px;
        }

        .about--pencil-mobile {
            display: inline;
            margin: 20px 20px 0 0;
            cursor: pointer;
            background-color: $pencil-bg-color;
            padding: 5px;
            color: $content-color;
        }
    }

    .about--form {
        box-shadow: none;
        .about--button-save {
            position: absolute;
            bottom: 420;
            right: 0;
            color: $button-color;
            background-color: #fff;
            font-size: 14px;
            font-weight: 100;
        }

        .about--button-cancel {
            position: absolute;
            bottom: 420;
            right: 125;
            color: $button-color;
            border-color: #fff;
            font-size: 14px;
            font-weight: 100;
        }
     }

    .about--title-container {
        display: flex;
        justify-content: space-between;
    }
    
    .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea) {
        width: 100%; 
    }

    .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input {
        width: 100%;
    }

    .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea) {
        background-color: #fff;
    }
}

