@import './common';

body {
    background-color: $main-bg-color;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 71px 80px 0 80px;
    box-sizing: border-box;
    background-color: $section-bg-color;
    width: 100%;
    max-width: $header-width;
    height: 316px;
    position: relative;

    .header--line1 {
        display: flex;
    
    }
    
    .header--logout {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28.85px;
        width: 94.84px;
        color: $button-color;
        border: 1px solid $button-color;
        border-radius: 3px;
        font-weight: 700;
        font-size: small;
        cursor: pointer;
        position: absolute;
        right: 22px;
        top: 23px;
    }
    
    .header--upload {
        font-size: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        width: 218.94px;
        height: 43.03px;
        
        color: $profile-light-color;
        border: 1px solid $border-color;
        border-radius: 3px;
        position: absolute;
        top: 75.84px;
        left: 474.39px;
    
        .header--upload-title {
            margin-left: -25px;
        }
    }
    
    .header--stars {
        position: absolute;
        right: 230px;
        top: 146px;
    
        .header--stars-reviews {
            color: $profile-light-color;
        }

        .header--stars-icon {
            color: $profile-light-color;
        }
    }
    
    .header--profile {
        display: flex;
        position: absolute;
        top: 110px;
    }
    
    .header--profile-image {
        width: 202px;
        margin-left: 22px;
        z-index: 1;
    
        img {
            height: 171px;
            width: 171px;
            -webkit-box-shadow: 1px 1px 20px 0px rgba(190,190,190,0.75);
            -moz-box-shadow: 1px 1px 20px 0px rgba(190,190,190,0.75);
            box-shadow: 1px 1px 20px 0px rgba(190,190,190,0.75);
        }
    }

    .header--profile-icon {
        color: $icon-color;
        font-size: 20px;
    }
    
    .header--profile-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $main-text-color;
        
        .name {
            font-weight: 700;
            font-size: 19px;
        }
    
        .location {
            font-size: 14px;
            padding-left: 10px;
        }
    
        .phone {
            font-size: 14px;
            padding-left: 10px;
        }
    } 
    
    .header--menu {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 58px;
        box-sizing: border-box;
        max-width: $header-width;
        -webkit-box-shadow: 1px 1px 3px 0px rgba(80,80,80,0.75);
        -moz-box-shadow: 1px 1px 3px 0px rgba(80,80,80,0.75);
        box-shadow: 1px 1px 3px 0px rgba(80,80,80,0.75);
    
        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            height: 100%;
            position: absolute;
            bottom: 0;
            color: $main-text-color;
        }
    
        li {
            padding-right: 27px;
            
            &:first-child {
                padding-left: 220px;
            }
            
            &:last-child {
                padding-right: 0;
            }
    
            a {
                text-decoration: none;
                color: $content-color;
            }
    
            .header--menu-link {
                display: flex;
                align-items: center;
                box-sizing: border-box; 
                height: 55px;

                &:hover {
                    border-bottom: 3px solid $button-color;
                }
            }

            .header--menu-link.active {
                    border-bottom: 3px solid $button-color;
            }
        }
    }

    .header--followers {
        display: flex;
        align-items: center;
        position: absolute;
        right: 21px;
        top: 274px;
        color: #000;

        .header--followers-add {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background-color: #ccc;
            font-size: 18px;
            border-radius: 100%;
            color: #fff;
        }

        .header--followers-count {
            margin-left: 8px;
        }

        .header--followers-followers {
            margin-left: 8px;
            color: #a6b0b7;
            font-size: smaller;
        }
    }
}

.container {
    display: flex;
    padding-top: 12px;
}

.section--container {
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    //max-width: $header-width;

}

@media (min-width: 846px) and (max-width: 980px) {
    .header {
        .header--stars {
            position: absolute;
            right: 50px;
        }

        .header--upload {

            position: absolute;
            right: 50px;
        }

        .header--followers {
            top: 220px;
        }
    }
}

@media all and (max-width: $mobile-size) {
    body {
        font-size: 14px;
    }
    .header {
        height: 479px;
        background-color: $main-bg-color;
        margin: 0;

        .header--logout {
            border-width: 0;
        }

        .header--upload {
            display: none;
        }

        .header--profile {
            justify-content: center;
            width: 100%;
            flex-direction: column;
            top: 74px;
            color: $mobile-font-color;
        }

        .header--profile-image {
            margin-left: 0;
            text-align: center;
            width: 100%;
            
            img {
                width: 126px;
                height: 126px;
            }
        }

        .header--profile-info {
                        
            .phone, .location {
                font-size: 12px;
            }

            .name {
                text-align: center;
                padding-top: 22px;
                font-weight: 600;
            }

            .container {
                margin-left: 18px;
            }
        }

        .header--stars {
            top: 323px;
            left: 19px;
            width: 117px;
            font-size: 19px;

            .header--stars-icon {
                color: $button-color;
            }

            .header--stars-reviews {
                font-size: 12px;
                line-height: 2;
            }
            .header--stars-reviews-count {
                color: #000;
                padding-right: 7px;
                font-size: 13px
            }
        }

        .header--menu {
            height: 51px;
            background-color: #fff;
            
            li:first-child {
                padding-left: 19px;
            }

            .header--menu-link a {
                color: $main-text-color;
            }
        }

        .header--followers {
            left: 14px;
            top: 386px;

            .header--followers-followers {
                color: #717579;
                font-size: 12px;
                margin-left: 7px;
            }
        }
    }
}

