@import './common';

.settings {
    margin: 50px 80px 0 80px;
    background-color: #fff;
    height: 618px;
    max-width: $header-width;
    width: 100%;
    position: relative;
    
    .settings--title {
        padding-top: 35px;
        color: $content-color;
        margin: 20px 35px 35px 35px;
        font-size: 24px;
    }
}

.settings--container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media all and (max-width: $mobile-size) {
    .settings {
        margin: 12px 0 0 0;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        .settings--title {
            padding-top: 10px;
            color: #727e88;
            margin: 20px 35px 35px 25px;
            font-size: 22px;
        }
    }
    
}